footer
    width 100vw
    height: 113px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    color: #3C3C43C7
    border-top: 1px solid #e2e2e3
    p
        margin: 2px 0px
        font-size: 14px
    a
        color: #3C3C43C7