post
    width 100vw
    height: calc(100vh - 64px)
    display flex
    flex-direction: column

.postMenu
    display: none
.postMain
    width 100%
    height: 100%
    display: flex
    justify-content: center

    postList
        width 272px
        height 100%
        overflow scroll
        background-color var(--post-postlist-background-color)

        .list
            margin: 32px

            span
                font-weight bold
                font-size 14px

                a
                    color var(--post-postlist-span-a-color)
                    text-decoration none

            section
                padding 4px 0px

                a
                    font-size 14px
                    color var(--post-postlist-section-a-color)
                    text-decoration none
                    transition 0.3s

                a:hover
                    color var(--post-postlist-section-a-hover-color)
    postList::-webkit-scrollbar
        display: none

    article
        width 831px
        height 100%
        display: flex
        justify-content: space-between
        overflow hidden

        .post
            width calc(99% - 128px)
            padding 48px 64px
            overflow scroll
            color var(--post-article-post-color)
            
            // 单独配置文章样式
            @import 'article'
        .post-scrollbar
            width 3px
            height: 20px
            position relative
            transition: 0.2s
            background-color: var(--post-article-scrollbar)

    toc
        width 224px
        height 100%
        overflow scroll
        border-left 1px solid var(--post-toc-border-left)

        div
            padding 48px 6px

            p
                font-weight bold
                font-size 14px
                color var(--post-toc-p-color)
                margin-left 10px

            ol
                list-style-type none

                li
                    margin-left 16px
                    padding 4px 0px

                    a
                        font-size 14px
                        color var(--post-toc-a-color)
                        text-decoration none
                        transition 0.5s

                        .toc-number
                            display none

                    a:hover
                        color var(--post-toc-a-hover-color)
    toc::-webkit-scrollbar
        display: none