:root
:root.light
    // 全局背景色
    --body-background-color #FFFFFF
    // 导航栏
    // 导航栏的背景和边框色，置顶与未置顶
    --header-top-background-color transparent
    --header-notop-background-color #FFFFFF
    --header-top-border-bottom #E2E2E3
    --header-notop-border-bottom #E2E2E3
    // 导航栏标题字体颜色
    --header-title-color #3C3C43
    // 导航栏a标签颜色与触摸色
    --header-a-color #444444
    --header-a-hover-color #5672CD
    // 导航栏图标颜色与触摸色
    --header-svg-color #67676C
    --header-svg-hover-color #3C3C43
    //导航栏分隔栏色
    --header-isolation-background-color #E2E2E3
    // 平板端三点菜单
    --header-menu-switch #3C3C43
    --header-menu-background-color #FFFFFF
    --header-appearance-svg-color #3C3C43C7
    // 手机端菜单
    --header-phone-menu-switch #3C3C43
    --header-phone-menu-background-color #FFFFFF
    --header-phone-menu-appearance-background-color #F6F6F7
    // 手机端文章页
    --header-postmenu-border #E2E2E3
    --header-postmenu-background-color #FFFFFF
    --header-postmenu-color #3C3C43C7
    --header-toc-background-color #F6F6F7
    --header-toc-border #C2C2C4
    --header-toc-p-color #3451b2
    --header-toc-p-border #c2c2c4

    // 页脚
    // 页脚字体颜色
    --footer-color #3C3C43C7
    // 页脚边框色
    --footer-border-top #E2E2E3
    // 页脚a标签颜色与触摸色
    --footer-a-color #3C3C43C7
    --footer-a-hover-color #5672CD

    // 首页
    // 首页第一行字体颜色
    --home-span-background linear-gradient(to right bottom, #56b6ff, #50abff, #54a0ff, #6093ff, #7284ff, #7e7aff, #8c6fff, #9b62ff, #a35aff, #ab50ff, #b444ff, #bd34fe)
    --home-span-color transparent
    // 首页第二行字体颜色
    --home-p-color #3C3C43
    // 首页第三行字体颜色
    --home-tagline-color #3C3C43C7
    // 首页按钮边框色
    --home-button-a-border transparent
    // 首页brand按钮的字体色、背景色和触摸色
    --home-brand-a-color #FFFFFF
    --home-brand-a-background-color #5672CD
    --home-brand-a-hover-background-color #3A5CCC
    // 首页alt按钮的字体色、背景色和触摸色
    --home-alt-a-color #3C3C43
    --home-alt-a-background-color #EBEBEF
    --home-alt-a-hover-background-color #E4E4E9
    // 首页logo背景的扩散渐变色
    --home-logo-div-background-image linear-gradient(-45deg, #bd34fe 50%, #47caff 50%)
    // 首页容器背景色
    --home-Container-li-background-color #F6F6F7
    // 首页容器图片背景色
    --home-Container-img-background-color #E7E8EC
    // 首页容器标题文字颜色
    --home-Container-span-color #3C3C43
    // 首页容器正文文字颜色
    --home-Container-p-color #3C3C43C7

    // 文章页
    // 文章列表背景色
    --post-postlist-background-color #F6F6F7
    // 文章列表标题色
    --post-postlist-span-a-color #3C3C43
    // 文章列表文章选项色和触摸色
    --post-postlist-section-a-color #3C3C43C7
    --post-postlist-section-a-hover-color #5672CD
    // 文章正文文字默认色
    --post-article-post-color #3C3C43
    // 文章正文滚动条背景色
    --post-article-scrollbar #3451B2
    // 文章目录左边框色
    --post-toc-border-left #E2E2E3
    // 文章目录标题色
    --post-toc-p-color #3C3C43 
    // 文章目录选项色和触摸色
    --post-toc-a-color #3C3C43C7
    --post-toc-a-hover-color #5672CD

    // 文章样式
    // 文章标题
    --article-title-color #3C3C43
    // 文章超链接和触摸色
    --article-a-color #5672CD
    --article-a-hover-color #3A5CCC
    // 文章标题
    --article-h-color #3C3C43
    // 文章标题触摸追加文字色
    --article-h-hover-color #5672CD
    // 文章引用块背景色
    --article-blockquote-background-color #EFF0F3
    // 文章行内代码块字体色和背景色
    --article-code-color #3451B2
    --article-code-background-color #8E96AA24
    // 文章代码块背景色
    --article-figure-background-color #F6F6F7
    // 文章表格边框色
    --article-table-border #3C3C43


:root.dark
    // 全局背景色
    --body-background-color #1B1B1F
    // 导航栏
    // 导航栏的背景和边框色，置顶与未置顶
    --header-top-background-color transparent
    --header-notop-background-color #1B1B1F
    --header-top-border-bottom #000000
    --header-notop-border-bottom #000000
    // 导航栏标题字体颜色
    --header-title-color #FFFFF5DB
    // 导航栏a标签颜色与触摸色
    --header-a-color #FFFFF5DB
    --header-a-hover-color #9DA7EF
    // 导航栏图标颜色与触摸色
    --header-svg-color #98989F
    --header-svg-hover-color #DFDFD6
    //导航栏分隔栏色
    --header-isolation-background-color #2E2E32
    // 平板端三点菜单
    --header-menu-switch #FFFFF5DB
    --header-menu-background-color #202127
    --header-appearance-svg-color #EBEBF599
    // 手机端菜单
    --header-phone-menu-switch #FFFFF5DB
    --header-phone-menu-background-color #1B1B1F
    --header-phone-menu-appearance-background-color #1B1B1F
    // 手机端文章页
    --header-postmenu-border #000000
    --header-postmenu-background-color #1B1B1F
    --header-postmenu-color #EBEBF599
    --header-toc-background-color #202127
    --header-toc-border #3c3f44
    --header-toc-p-color #A8B1FF
    --header-toc-p-border #000000

    // 页脚
    // 页脚字体颜色
    --footer-color #EBEBF599
    // 页脚边框色
    --footer-border-top #000000
    // 页脚a标签颜色与触摸色
    --footer-a-color #EBEBF599
    --footer-a-hover-color #9DA7EF

    // 首页
    // 首页第一行字体颜色
    --home-span-background linear-gradient(to right bottom, #56b6ff, #50abff, #54a0ff, #6093ff, #7284ff, #7e7aff, #8c6fff, #9b62ff, #a35aff, #ab50ff, #b444ff, #bd34fe)
    --home-span-color transparent
    // 首页第二行字体颜色
    --home-p-color #FFFFF5DB
    // 首页第三行字体颜色
    --home-tagline-color #EBEBF599
    // 首页按钮边框色
    --home-button-a-border transparent
    // 首页brand按钮的字体色、背景色和触摸色
    --home-brand-a-color #FFFFFF
    --home-brand-a-background-color #3E63DD
    --home-brand-a-hover-background-color #5C73E7
    // 首页alt按钮的字体色、背景色和触摸色
    --home-alt-a-color #FFFFF5DB
    --home-alt-a-background-color #32363F
    --home-alt-a-hover-background-color #414853
    // 首页logo背景的扩散渐变色
    --home-logo-div-background-image linear-gradient(-45deg, #bd34fe 50%, #47caff 50%)
    // 首页容器背景色
    --home-Container-li-background-color #202127
    // 首页容器图片背景色
    --home-Container-img-background-color #65758529
    // 首页容器标题文字颜色
    --home-Container-span-color #FFFFF5DB
    // 首页容器正文文字颜色
    --home-Container-p-color #EBEBF599

    // 文章页
    // 文章列表背景色
    --post-postlist-background-color #161618
    // 文章列表标题色
    --post-postlist-span-a-color #FFFFF5DB
    // 文章列表文章选项色和触摸色
    --post-postlist-section-a-color #EBEBF599
    --post-postlist-section-a-hover-color #A8B1FF
    // 文章正文文字默认色
    --post-article-post-color #FFFFF5DB
    // 文章正文滚动条背景色
    --post-article-scrollbar #A8B1FF
    // 文章目录左边框色
    --post-toc-border-left #2E2E32
    // 文章目录标题色
    --post-toc-p-color #FFFFF5DB
    // 文章目录选项色和触摸色
    --post-toc-a-color #EBEBF599
    --post-toc-a-hover-color #A8B1FF

    // 文章样式
    // 文章标题
    --article-title-color #FFFFF5DB
    // 文章超链接和触摸色
    --article-a-color #A8B1FF
    --article-a-hover-color #5C73E7
    // 文章标题
    --article-h-color #FFFFF5DB
    // 文章标题触摸追加文字色
    --article-h-hover-color #A8B1FF
    // 文章引用块背景色
    --article-blockquote-background-color #65758529
    // 文章行内代码块字体色和背景色
    --article-code-color #A8B1FF
    --article-code-background-color #65758529
    // 文章代码块背景色
    --article-figure-background-color #161618
    // 文章表格边框色
    --article-table-border #FFFFF5DB