<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <link rel="icon" href="<%= url_for('img/logo.png') %>" type="image/x-icon">
    <title><%= config.title %> | <%= config.description %></title>
    <%- css('css/layout') %>

    <!-- valine -->
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
</head>