footer
    width 100vw
    height 113px
    display flex
    flex-direction column
    justify-content center
    align-items center
    color var(--footer-color)
    border-top 1px solid var(--footer-border-top)

    p
        margin 2px 0px
        font-size 14px

    a
        color var(--footer-a-color)
        transition 0.3s

    a:hover
        color var(--footer-a-hover-color)