*
    margin 0
    padding 0

body
    width 100vw
    height 100vh

::-webkit-scrollbar
    display: none
@import "_partial/header"
@import "_partial/footer"
@import "index"
@import "post"
@import "archive"